*.pdf !text !filter !merge !diff
*.doc !text !filter !merge !diff
*.docx !text !filter !merge !diff
*.ppt !text !filter !merge !diff
*.pptx !text !filter !merge !diff
*.pkl !text !filter !merge !diff
